<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/from-data">
        <input type="file" name="s3file">
        <button type="submit">Submit file</button>
    </form>
  </body>
</html>
